{% extends 'admin/base.html.twig' %}
{% block page_title %}Edit Category{% endblock %}

{% block body %}
    <div class="max-w-xl bg-white p-8 rounded-xl shadow-sm border border-slate-200">
        <h1 class="text-2xl font-bold mb-6">Edit Category</h1>
        {{ include('admin/category/_form.html.twig', {'button_label': 'Update Category'}) }}
    </div>
{% endblock %}
