{% extends 'admin/base.html.twig' %}
{% block page_title %}New Product{% endblock %}

{% block body %}
    <div class="max-w-2xl bg-white p-8 rounded-xl shadow-sm border border-slate-200">
        <h1 class="text-2xl font-bold mb-6">Add New Product</h1>
        {{ include('admin/product/_form.html.twig') }}
    </div>
{% endblock %}
